body {
    background-color: #fff;
    color: #34495E;
    padding: 14px 24px;
 	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham','Avenir next', arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
}

a {
	border: none;
}

h1 {
    color: #34495E;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Gotham A', 'Gotham B', 'Gotham', 'Avenir next', arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
	color: #A0A7AD;
	font-size: 16px;
}

#main {
	text-align: center;
	margin: 0 auto;
	min-width: 260px;
	max-width: 540px;
}

#header {
	height: 100px;

}

.float-right {
	float: right;
}

#signup {
	padding: 0 0 20px 0;
}

input.email {
	width: 260px;
	font-size: 20px;
	color: #A0A7AD;
	text-align: center;
	padding: 14px 0;
	border: 1px solid #CED4DA;
	border-radius: 4px;
}

input.submit {
	width: 320px;
	font-size: 20px;
	color: #fff;
	background: #2C97DE;
	padding: 16px 0;
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
}

a.earlyaccess {
	width: 320px;
	font-size: 20px;
	color: #fff;
	background: #2C97DE;
	padding: 16px 0;
	border: none;
	border-radius: 4px;
	margin-bottom: 10px;
	text-decoration: none;
	display: inline-block;
}

a.earlyaccess:hover { 
    background-color: #2288CD;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   background: #34495E;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

#footer p {
	padding-top: 20px;
	text-align: center;
	font-size: 14px;
	color: #BDD5EC;
}

#footer a {
	color: #BDD5EC;
	text-decoration: none;
}

#footer a:hover { 
    color: #2288CD;
}

@media (max-width: 600px) {

	#footer {
	   position: inherit;
	   background: none;
	   padding-top: 20px;
	}


}

@media (max-height: 800px) {

	#footer {
	   position: inherit;
	   background: none;
	   padding-top: 20px;
	}


}



